html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


@font-face {
  font-family: "Alpha";
  src: url("https://unpkg.com/@ledgerhq/react-ui/assets/fonts/HMAlphaMono-Medium.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("https://unpkg.com/@ledgerhq/react-ui/assets/fonts/Inter-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.split-search-container > div > div > div:nth-child(1)  {
  width: 40% !important;
}

.split-search-container > div > div > div:nth-child(3)  {
  width: 60% !important;
}

.split-search-container > div > div > div:nth-child(3) > div > input  {
  text-align: left !important;
}